<html>
    <head>
        <style type="text/css">
            .SearchBar {
                text-align: center;
                width: 100%;
            }
            h2 {
                font-size: 35px;
                font-style: italic;
            }
        </style>
    </head>
    <body>
        <div class="SearchBar">
            <form class="form-signin">
                <h2>Teacher's Code</h2>
                <input type="text" name="" placeholder="Teacher's Code">
                <button type="submit">Find the teacher</button>
            </form>
        </div>
    </body>
</html>