
{% import "bootstrap/wtf.html" as wtf %}

<html>
    <head>
        <style type="text/css">
            .SearchBar {
                text-align: center;
                width: 100%;
            }
            h2 {
                font-size: 35px;
                font-style: italic;
            }
        </style>
    </head>
    <body>
        {% block content %}
        <div class="SearchBar">
            <form class="form-signin" method='POST'>
                <h2>Teacher's Code</h2>
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.accessCode) }}
                <button type="submit">Find the teacher</button>
            </form>
        </div>
        {% endblock %}
    </body>
</html>