<html>
  <head>
    <style type="text/css">
      a{
        color: white;
        text-decoration: none;
        font-size: large;
        font-style: italic;
      }

      h1 {
        font-size: x-large;
        background-color:blue;
        border-radius: 5px;
        color: white;
      }


    </style>

  </head>

  <body>
    <center>
      <div id="Box">
        <h1>Welcom to My Website</h1>
      </div>
      <form action="#" method="post">
        <table>
          <tr>
            <td>Username:</td>
            <td>
              <input type="text" name="nm">
            </td>
          </tr>

          <tr>
            <td>Password:</td>
            <td>
              <input type="text" name="user_pass">
            </td>
          </tr>

          <tr>
            <td>
              <input type="submit" value="submit"/>
            </td>
            <td>
              Not yet a Member? <a href="RegPage.html">Register</a>
            </td>
          </tr>

        </table>
      </form>
    </center>

  </body>

</html>